Schemas/branchcovegarden.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="garden_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" type="xs:string" />
        <xs:element minOccurs="0" name="contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string" />
              <xs:element minOccurs="0" name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="street" type="xs:string" />
                    <xs:element minOccurs="0" name="city" type="xs:string" />
                    <xs:element minOccurs="0" name="state" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="phone" type="xs:string" />
              <xs:element minOccurs="0" name="email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="analytics" type="xs:string" />
        <xs:element minOccurs="0" name="about" type="xs:string" />
        <xs:element minOccurs="0" name="snapshots">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="snapshot">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="image" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="name" type="xs:string" />
        <xs:element minOccurs="0" name="headlines">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="headline">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="title" type="xs:string" />
                    <xs:element minOccurs="0" name="paragraph" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="articles">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="article">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="date" type="xs:string" />
                    <xs:element minOccurs="0" name="author" type="xs:string" />
                    <xs:element minOccurs="0" name="title" type="xs:string" />
                    <xs:element minOccurs="0" name="paragraphs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="paragraph" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="maps">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="map">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="image" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="plantings">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="planting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="link" type="xs:string" />
                    <xs:element minOccurs="0" name="image" type="xs:string" />
                    <xs:element minOccurs="0" name="type" type="xs:string" />
                    <xs:element minOccurs="0" name="note" type="xs:string" />
                    <xs:element minOccurs="0" name="location" type="xs:string" />
                    <xs:element minOccurs="0" name="schedule">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="seedstart">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="type" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="directsow">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="type" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="transplant">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="type" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="harvest" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="log">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="date" type="xs:string" />
                                <xs:element minOccurs="0" name="image" type="xs:string" />
                                <xs:element minOccurs="0" name="note" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>